<div class="container main-container">
  <div class="row my-5">
    <div class="col-md-12 text-center">
      <div class="display-1 py-3"><span class="text-primary">Ayush</span> Srivastava</div>
      <small class="text-small">Software Engineer | FrontEnd</small>
      <div class="d-flex justify-content-center my-3"><a href="mailto:ayushsrivastava1011@gmail.com" class="email" title="I have an opportunity for you">ayushsrivastava1011@gmail.com</a> | 
        <a href="https://api.whatsapp.com/send?phone=7897909054&text=Hi Ayush!"
        target="_blank"  class="contact" title="We can talk more on call or drop me a text">7897909054</a>
        </div>
    </div>
    <hr>
  </div>
  <div class="container px-5">
    <div class="row mb-3">
      <div class="col-md-5 fs-3 ps-5" style="width: 510px;">
        Education
        <div class="row">
          <div class="col-md-12">
            <div class="fw-bold fs-5">FGIPS</div>
            <div class="fs-5">BCA</div>
            <div class="fs-6">July 2021 | India</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="fw-bold fs-5">St.Peter's School</div>
            <div class="fs-5">12<sup>th</sup> | ISC</div>
            <div class="fs-6">July 2018 | India</div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="fw-bold fs-5">St.Peter's School</div>
            <div class="fs-5">10<sup>th</sup> | ICSE</div>
            <div class="fs-6">July 2016 | India</div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-12 fs-3">
            Links
            <div class="row">
              <div class="col-md-12">
                <div class="fs-6">LinkedIn://<a href="https://www.linkedin.com/in/ayush-srivastava-7b8655193/"
                    target="_blank">Ayush Srivastava</a></div>
                <div class="fs-6">Github://<a href="https://github.com/Ayush-Srivastava-Tricon" target="_blank">Ayush
                    Srivastava</a></div>
                <div class="fs-6">Instagram://<a href="https://www.instagram.com/reeeee____ayush/" target="_blank">Ayush
                    Srivastava</a></div>
              </div>
            </div>
          </div>
          <div class="col-md-7 fs-3"></div>
        </div>
        <div class="row mb-3">
          <div class="col-md-12 fs-3">
            Skills
            <div class="row">
              <div class="col-md-12">
                <div class="fw-bold fs-5">PROGRAMMING</div>
                <div class="fs-6">Over 10,000 lines :</div>
                <ul class="d-flex justify-content-between flex-column fs-6">
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>JavaScript/TypeScript</li>
                  <li>Bootstrap</li>
                  <li>Angular</li>
                  <li>Third Party API Integration</li>
                </ul>
                <div class="fs-6">Familier:</div>
                <ul class="d-flex justify-content-between flex-column fs-6">
                  <li>Angular</li>
                  <li>TypeScript</li>
                </ul>
                <div class="fw-bold fs-5">OTHER</div>
                <ul class="d-flex justify-content-between flex-column fs-6">
                  <li>GIT</li>
                  <li>JIRA</li>
                  <li>Visual Studio / VS Code</li>
                  <li>Postman</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-7 fs-3" style="width: 714px;">Experience
        <div class="row">
          <div class="col-md-12">
            <div class="fs-6">Total Experience - 1.9+ Years</div>
          </div>
        </div>
        <div class="row my-1">
          <div class="col-md-12">
            <div class="fs-5"> <span class="fw-bold ">Tricon IT Solutions</span> | <span class="fs-6">Software
                Engineer</span> </div>
            <div class="fs-6">January 2022 - Present | Lucknow, India</div>
            <ul class="d-flex justify-content-between flex-column fs-6">
              <li>Managing UI using HTML, CSS, JavaScript, and Angular.</li>
              <li>Creating reusable components to optimize code and speed of web app.</li>
              <li>Regress unit testing before sending for Q/A.</li>
              <li>Handled Multiple Projects Simultaneously.</li>
              <li>Updated old code bases to modern development standards, improving functionality.</li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="fs-5"> <span class="fw-bold ">Virtual Ninjas</span> | <span class="fs-6">Web Developer
                Intern</span> </div>
            <div class="fs-6">September 2021 - November 2021 | Lucknow, India</div>
            <div class="fs-6">(Internship)</div>
            <ul class="d-flex justify-content-between flex-column fs-6">
              <li>Used Front End Development tools to design the pages.</li>
              <li>Regress unit testing before sending for Q/A.</li>
              <li>Boost the customer engagement with 30%.</li>
            </ul>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-12 fs-3">
            Awards & Acheivements
            <div class="row">
              <div class="col-md-12">
                <ul class="d-flex justify-content-between flex-column fs-6">
                  <li>Awarded with 'Performer of the Year' (Development) 2023</li>
                  <li>Cleared HTML & JavaScript LinkedIn Skill Assessment Test</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-12 fs-3">
            Competencies
            <div class="row">
              <div class="col-md-12">
                <ul class="d-flex justify-content-between flex-column fs-6">
                  <li>Quick Learner</li>
                  <li>Problem Solver</li>
                  <li>Code Debugging</li>
                  <li>Teamwork</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>